<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Make it New</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  </head>

  <body>
    <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="mt-5"><a class="no-style" href="/">Make it New</a></h1>
          <p class="explainer">Create new work from class text. <a href="/about">Learn more</a>.</p>
          <h3 class="title"> {{title}} </h3>
          <p> {{text}} </p>
          <div class="options-container">
            <form action="/" enctype="multipart/form-data" class="form-elem-container txt-elem-container">
              <button class="btn btn-secondary txt-page-btn" type="submit" action="home">
                Create my own
              </button>
            </form>
            <form action="/make_it_new" method="POST" class="form-elem-container txt-elem-container">
              <button class="btn btn-secondary txt-page-btn" action="/" type="submit" name="submit">
                Surprise me
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
